<nav class="navbar navbar-expand-sm navbar-custom indexPage fixed-top" aria-label="Navbar Menu">
    <div class="container">
        <a class="navbar-brand nav-custom indexPage" aria-current="page" href="/">
            <img class="d-inline-block align-text-top logo-svg indexPage" height="24" src="/assets/images/logo/utfLogo.svg">
        </a>

        <button class="navbar-toggler nav-custom indexPage" type="button" data-bs-toggle="collapse" data-bs-target="#navbarMain">
            <i class="fas fa-bars"></i>
        </button>

        <div class="collapse navbar-collapse" id="navbarMain">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle nav-custom indexPage" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown">
                        Buscar
                    </a>
                    <ul class="dropdown-menu dropdown-hover">
                        <li><a class="dropdown-item" href="/searchOwner">Por Pessoa</a></li>
                        <li><a class="dropdown-item" href="/searchEvent">Por Evento</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link nav-custom indexPage" href="/docs">Documentações</a>
                </li>
            </ul>
            
            <ul class="navbar-nav md-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link nav-custom indexPage" href="/about">Sobre</a>
                </li>
            </ul>
        </div>
    </div>
</nav>