
{{> navbarOther }}

<div class="mastdiv">
    <div class="container-fluid h-100">
        <div class="row h-100 align-items-center text-center">
            <div class="col-12" style="margin-bottom: 1.75rem;">
                <h1 class="mb-3 mt-2 mt-sm-0">Sobre</h1>

                <div class="row justify-content-center text-center">
                    <div class="col-11 col-sm-10 col-md-9 col-lg-7 py-5 border border-dark rounded" style="background-color: rgba(0, 0, 0, 0.6);">
                        <div class="row justify-content-center">

                            <div class="col-11 h5 mb-3">
                                Este projeto é parte de um sistema maior desenvolvido como Trabalho de Conclusão de Curso (TCC) no curso de 
                                Engenharia de Computação na Universidade Tecnológica Federal do Paraná câmpus Cornélio Procópio (UTFPR-CP).
                            </div>

                            <h6><span class="text-white-80">Autor: </span><span id="myName">Lucas do Prado Pinto</span></h6>
                            <h6><span class="text-white-80">E-mail: </span><a class="link-light" href="mailto:lucaspinto@alunos.utfpr.edu.br">lucaspinto@alunos.utfpr.edu.br</a></h6>

                            <div class="col-10 col-sm-8 mt-3">
                                <div class="row justify-content-center" id="divSocial">
                                    <div class="col-3 col-sm-2">
                                        <a href="https://github.com/pradoplucas/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="GitHub"><i class="fab fa-github text-white"></i></a>
                                    </div>
                                    <div class="col-3 col-sm-2">
                                        <a href="https://pradoplucas.github.io/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Página Pessoal"><i class="fas fa-link text-white"></i></a>
                                    </div>
                                    <div class="col-3 col-sm-2">
                                        <a href="https://www.linkedin.com/in/pradoplucas/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Linkedin"><i class="fab fa-linkedin text-white"></i></a>
                                    </div>
                                    <div class="col-3 col-sm-2">
                                        <a href="http://lattes.cnpq.br/7589155295539184" target="_blank" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Lattes"><i class="fas fa-file-alt text-white"></i></a>
                                    </div>
                                </div>
                            </div>

                            <p class="mb-0 mt-3 small">Para acessar o repositório do projeto no GitHub, <a class="link-light" target="_blank" href="https://github.com/pradoplucas/utfCerts">clique aqui</a>.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/about.js"></script>