{{> navbarOther }}

<div class="mastdiv">
    <div class="container-fluid h-100">
        <div class="row h-100 justify-content-center align-items-center text-center">
            <div class="row col-12 justify-content-center text-center" >

                <h1 class="mb-2 mt-2 mt-sm-0">Documentações</h1>

                <div id="infoAll" class="row col-11 col-md-8 col-lg-6 justify-content-center text-center">
                    <div class="col-6 col-sm-4 my-3">
                        <a role="button" class="info-box mx-auto" href="http://www.utfpr.edu.br/documentos/conselhos/cogep/resolucoes/regulamento-das-atividades-complementares" target="_blank">
                            <img class="img-fluid info-border" src="./assets/images/courses/UTF.png">
                            <div class="info-caption info-border">
                                <div class="text-light">Regulamento</div>
                                <div class="text-light">Geral</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 my-3">
                        <a role="button" class="info-box mx-auto" href="http://www.utfpr.edu.br/cursos/coordenacoes/graduacao/cornelio-procopio/cp-engenharia-de-computacao/area-academica/atividades-complementares" target="_blank">
                            <img class="img-fluid info-border" src="./assets/images/courses/ECP.png">
                            <div class="info-caption info-border">
                                <div class="text-light">Engenharia</div>
                                <div class="text-light">de Computação</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 my-3">
                        <a role="button" class="info-box mx-auto" href="http://www.utfpr.edu.br/cursos/coordenacoes/graduacao/cornelio-procopio/cp-bacharelado-em-engenharia-de-software/area-academica/atividades-complementares" target="_blank">
                            <img class="img-fluid info-border" src="./assets/images/courses/ESW.png">
                            <div class="info-caption info-border">
                                <div class="text-light">Engenharia</div>
                                <div class="text-light">de Sofware</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 my-3">
                        <a role="button" class="info-box mx-auto" href="http://www.utfpr.edu.br/cursos/coordenacoes/graduacao/cornelio-procopio/cp-tecnologia-em-analise-e-desenvolvimento-de-sistemas/area-academica/atividades-complementares" target="_blank">
                            <img class="img-fluid info-border" src="./assets/images/courses/ADS.png">
                            <div class="info-caption info-border">
                                <div class="text-light">Análise e Des.</div>
                                <div class="text-light">de Sistemas</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 my-3">
                        <a role="button" class="info-box mx-auto" href="http://www.utfpr.edu.br/cursos/coordenacoes/graduacao/cornelio-procopio/cp-engenharia-eletrica/area-academica/atividades-complementares" target="_blank">
                            <img class="img-fluid info-border" src="./assets/images/courses/ELE.png">
                            <div class="info-caption info-border">
                                <div class="text-light">Engenharia</div>
                                <div class="text-light">Elétrica</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 my-3">
                        <a role="button" class="info-box mx-auto" href="http://www.utfpr.edu.br/cursos/coordenacoes/graduacao/cornelio-procopio/cp-engenharia-eletronica/area-academica/atividades-complementares" target="_blank">
                            <img class="img-fluid info-border" src="./assets/images/courses/ELT.png">
                            <div class="info-caption info-border">
                                <div class="text-light">Engenharia</div>
                                <div class="text-light">Eletrônica</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 my-3">
                        <a role="button" class="info-box mx-auto" href="http://www.utfpr.edu.br/cursos/coordenacoes/graduacao/cornelio-procopio/cp-engenharia-de-controle-e-automacao/area-academica/atividades-complementares" target="_blank">
                            <img class="img-fluid info-border" src="./assets/images/courses/ECA.png">
                            <div class="info-caption info-border">
                                <div class="text-light">Engenharia</div>
                                <div class="text-light">de Contr. Aut.</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 my-3">
                        <a role="button" class="info-box mx-auto" href="http://www.utfpr.edu.br/cursos/coordenacoes/graduacao/cornelio-procopio/cp-engenharia-mecanica/area-academica/atividades-complementares" target="_blank">
                            <img class="img-fluid info-border" src="./assets/images/courses/EMC.png">
                            <div class="info-caption info-border">
                                <div class="text-light">Engenharia</div>
                                <div class="text-light">Mecânica</div>
                            </div>
                        </a>
                    </div>

                    <div class="col-6 col-sm-4 my-3">
                        <a role="button" class="info-box mx-auto" href="http://www.utfpr.edu.br/cursos/coordenacoes/graduacao/cornelio-procopio/cp-licenciatura-em-matematica/area-academica/atividades-complementares" target="_blank">
                            <img class="img-fluid info-border" src="./assets/images/courses/LMT.png">
                            <div class="info-caption info-border">
                                <div class="text-light">Licenciatua</div>
                                <div class="text-light">em Matemática</div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>